* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    background-color: rgb(116, 116, 116);
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

canvas {
    margin: 0 10px;
}

#carCanvas {
    background-color: rgb(194, 194, 194);
}

#networkCanvas {
    background-color: #000;
}